#auth {
  border: black 2px solid;
  border-radius: 10px;
}

#auth #container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}


#auth #container h4 {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

#auth #container form {
  width: 100%;
  align-items: center;
}

#auth #container input {
  text-align: center;
  margin: 3px;
  display: block;
  width: 90%;
  margin-left: 4%;
  margin-bottom: 7px;
  padding: 2px;
  border-radius: 1px;
}

#auth #container button {
  display: block;
  width: 90%;
  color: #ffffff;
  background: #7409B2;
  padding: 2px;
  font-size: 24px;
  border: none;
  margin-left: 4%;
  margin-bottom: 5px;
  border-radius: 10px;
}

#auth a {
  color: white;
  font-size: 2em;
  width: 90%;
  display: block;
  margin-left: 4%;
  background: black;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}
