html {
  background: gold;
}

body{
  height: 100%;
}

main{
  background: gold;
}
#main{
  grid-area: main;
  background: white;
  justify-self: center;
  width: 100%;
  height: 100%;
  border: black 2px solid;
  border-radius: 10px;
}

#auth{
  grid-area: auth;
  justify-self: center;
  background: white;
  width: 100%;
  height: 100%;
}

#info{
  grid-area: info;
  justify-self: center;
  background: white;
  width: 100%;
  height: 100%;
}

#container{
  display: grid;
  height: 95vh;
  margin-left: 50px;
  margin-right: 50px;
  grid-template-colums: 80px 1fr 70px;
  grid-template-rows: 20% 1fr 20%;
  grid-template-areas:
    "main main info"
    "main main info"
    "main main auth";
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  align-items: center;
  box-sizing: border-box;
}

