<div id="submission-payment">
  <h3>Payment Form</h3>
  <%= form_for @conn, submission_path(@conn, :payment, @submission), [as: :pay], fn f -> %>
    <div class="form-group">
      <%= label f, :account_number %>
      <%= text_input f, :account_number, class: "form-control" %>
    </div>

    <%= submit "Make Payment"%>
  <% end %>
</div>
